<!--
	Name: Chirayu Patel
	File: style.css
	Date: 21 june 2024
	cool red box with the red shedow. 
	-->

html {
  font-family: sans-serif;
}

.cool-box {
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.1rem;
  color: white;
  text-shadow: 1px 1px 1px black;
  background-color: red;
  border-radius: 8px;
  border: 1px solid #366db0;
  box-shadow: 
    2px 2px 5px rgba(0, 0, 0, 0.3),
    3px 3px 5px rgba(255, 255, 255, 0.5) inset,
    -3px -3px 5px rgba(0, 0, 0, 0.5) inset;
  margin: auto;
}
